@model CarHailingApp.Models.tblRide

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblRide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDriver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDriver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPassenger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPassenger.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
